<html>
    <head>
        <Title>Coin View</Title>
        <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    </head>
    <body>
        <h1>{{title}}</h1>
        <div class="data"></div>

        <!-- candleStick Chart --> 
        <div id="chart"></div>

        <select>
            {% for symbol in symbols %}
                <option> {{ symbol['symbol'] }} </option>
            {% endfor %}
        </select>

        <div class="settings">
            <input type="checkbox" name="RSI" id="RSI" /> RSI
            <input type="text" id="RSI_length" name="RSI_length" placeholder="14"/>
            <input type="text" id="RSI_oversold" name="RSI_oversold" placeholder="70"/>
            <input type="text" id="RSI_overbough" name="RSI_overbought" placeholder="30"/>
        </div>
        <div id="buy" style="margin: 20px 0px; width: 600px; padding: 10px; border:2px solid black; border-radius: 10px; background-color: gray;">
            <h1>Market Buy Crypto</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div style="margin: 10px 0px; padding:10px; background-color:pink; color:red; border:1px solid red;">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <form action="/buy" method="post">
                <input type="text" id="quantity" name="quantity" placeholder="eg. 0.001" />
                <select name="symbol" id="symbol">
                    {% for symbol in symbols %}
                        <option>{{ symbol['symbol'] }}</option>
                    {% endfor %}
                </select>
                <input type="submit" name="buy" id="buy"> </input>
            </form>
        </div>

        <div id="sell" style="margin: 20px 0px; width: 600px; padding: 10px; border:2px solid black; border-radius: 10px; background-color: gray;">
            <h1>Market Sell Crypto</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div style="margin: 10px 0px; padding:10px; background-color:pink; color:red; border:1px solid red;">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <form action="/sell" method="post">
                <input type="text" id="quantity" name="quantity" placeholder="eg. 0.001" />
                <select name="symbol" id="symbol">
                    {% for symbol in symbols %}
                        <option>{{ symbol['symbol'] }}</option>
                    {% endfor %}
                </select>
                <input type="submit" name="sell" id="sell"></input>
            </form>
        </div>

        <table>
            {% for balance in my_balances %}
            <tr>
                <td>{{ balance['asset'] }}</td>
                <td>{{ balance['free'] }}</td>
            </tr>
            {% endfor %}
        </table>

        <script src="{{ url_for('static', filename='charts.js') }}"></script>
    </body>
</html>